@model IEnumerable<uit_project_framework.Models.Voucher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p 
   id="showbutton"
   class="btn sbold green">
    Add New
    <i class="fa fa-plus"></i>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoucherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoucherId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoucherId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoucherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
